<div id="main-banner">
    <div id="slider-container">
      <div id="welcome-note">
        <div id="welcome-contents">
          <h1 class="heading">Welcome to MyFace!</h1>
          <p class="greeting">Share your memorable moments...</p>
          <p class="greeting">Stay connected with your friends...</p>
          <button (click)="navigateToLogin()" class="login-btn">Login</button>
        </div>
      </div>
      <div id="slider">
        <div class="slider-container">
          <div class="sliding-item">
            <img src="assets/images/adult-beard-blur.jpg" alt="">
          </div>
          <div class="sliding-item">
            <img src="assets/images/adult-beard-boy.jpg" alt="">
          </div>
          <div class="sliding-item">
            <img src="assets/images/angry-kid-bw.jpg" alt="">
          </div>
          <div class="sliding-item">
            <img src="assets/images/beauty2.jpg" alt="">
          </div>
          <div class="sliding-item">
            <img src="assets/images/beauty3.jpg" alt="">
          </div>
          <div class="sliding-item">
            <img src="assets/images/angry-kid.jpg" alt="">
          </div>
          <div class="sliding-item">
            <img src="assets/images/oldman.jpeg" alt="">
          </div>
          <div class="sliding-item">
            <img src="assets/images/beauty.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>